<template>
  <ion-content class="mainfont">
    <div>
      <sidebar-menu :menu="menu" :collapsed="true" />
    </div>
    <template v-if="!userloaded">
      <div class="load_wait">
        <v-progress-circular
          :size="100"
          :width="5"
          class="login-form__loader"
          color="primary"
          indeterminate
        />
      </div>
    </template>

    <template v-else>
      <v-dialog v-model="dilShow" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>{{msg}}</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="rootPage()">ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <div class="content content-fixed content-profile"> -->
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <VueEasyLightbox :visible="visible" :imgs="imgs" :index="index" @hide="handleHide"></VueEasyLightbox>

        <div class="media d-block d-lg-flex">
          <!-- <div class="profile-sidebar pd-lg-r-25"> -->
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-4 bd-r">
              <div class="avatar avatar-xxl avatar-online">
                <img :src="driverDetail.image" @click="showSingle(driverDetail.image)" />
              </div>

              <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                <h5 class="mg-b-2 tx-spacing--1">{{driverDetail.full_name}}</h5>
                <h5 class="mg-b-2 tx-spacing--1">Joined on {{createDate}}</h5>
                <p class="tx-color-03 mg-b-2">{{driverDetail.mobile_no}}</p>
                <p class="tx-color-03 mg-b-2">#id {{driverDetail.name}}</p>
                <!-- <div class="d-flex">
                  <div class="profile-skillset flex-fill">
                    <h4>
                      <a class="link-01">{{driverDetail.vh_name}}</a>
                    </h4>
                    <label>Vehicle Type</label>
                  </div>
                </div>-->
              </div>
              <!-- col -->
            </div>
            <div class="card col-sm-7 col-md-7 col-lg-8">
              <div
                class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between"
              >
                <h6 class="tx-uppercase tx-semibold mg-b-0">User Details</h6>
                <nav class="nav nav-icon-only">
                  <v-btn color="success" @click="submit(1)">APPROVE</v-btn>
                  <v-btn color="red lighten-2" @click="submit(0)">REJECT</v-btn>
                  <!-- <a  class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></a> -->
                </nav>
              </div>
              <!-- card-header -->
              <div class="card-body pd-20 pd-lg-25">
                <div class="media align-items-center mg-b-20">
                  <div class="media-body pd-l-15"></div>
                  <span
                    class="d-none d-sm-block tx-12 tx-color-03 align-self-start"
                  >Updated on {{upDate}}</span>
                </div>
                <!-- media -->
                <v-container fluid>
                  <v-form v-model="isValid">
                    <v-form-base :value="driverDetail" :schema="mySchema" :flex="6" @change="disp" />
                  </v-form>
                </v-container>
              </div>
            </div>
            <!-- col -->
          </div>
        </div>

        <div class="row row-xs">
          <div class="col-6 col-sm-4 col-md-3 col-xl">
            <div class="card card-file">
              <div class="card-file-thumb tx-primary ht-150">
                <img
                  class="hight_inhrit"
                  :src="driverDetail.vhn_image"
                  @click="showSingle(driverDetail.vhn_image)"
                />
              </div>
              <div class="card-footer">
                <h6>
                  <a class="link-02">Vehicle Image</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-6 col-sm-4 col-md-3 col-xl">
            <div class="card card-file">
              <div class="card-file-thumb tx-primary">
                <img
                  class="hight_inhrit"
                  :src="driverDetail.license_image"
                  @click="showSingle(driverDetail.license_image)"
                />
              </div>
              <div class="card-footer">
                <h6>
                  <a class="link-02">License Image</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-6 col-sm-4 col-md-3 col-xl mg-t-10 mg-sm-t-0">
            <div class="card card-file">
              <div class="card-file-thumb tx-indigo">
                <img
                  class="hight_inhrit"
                  :src="driverDetail.em_id_image"
                  @click="showSingle(driverDetail.em_id_image)"
                />
              </div>
              <div class="card-footer">
                <h6>
                  <a class="link-02">Emirates Id Image</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-6 col-sm-4 col-md-3 col-xl mg-t-10 mg-md-t-0">
            <div class="card card-file">
              <div class="card-file-thumb tx-info">
                <img
                  class="hight_inhrit"
                  :src="driverDetail.visa_no_image"
                  @click="showSingle(driverDetail.visa_no_image)"
                />
              </div>
              <div class="card-footer">
                <h6>
                  <a class="link-02">Visa Image</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- media -->
      </div>
    </template>
    <!-- container -->
    <!-- </div>content -->
  </ion-content>
</template>

<script>
import moment from 'moment'
import { SidebarMenu } from 'vue-sidebar-menu'
import VueEasyLightbox from 'vue-easy-lightbox'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
// import VFormBase from 'vuetify-form-base'
import mySchema from '@/forms/approval'
import VFormBase from '@/utils/app/components/vFormBase'

const required = (msg) => (v) => !!v || msg
const validEmail = (msg) => (v) => /.+@.+\..+/.test(v) || msg
export default {
  name: 'driverDetails',
  props: {},
  components: {
    SidebarMenu,
    VueEasyLightbox,
    VFormBase,
  },
  data() {
    return {
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],

      mySchema,
      isValid: false,
      newData: {},
      collapsed: true,
      width: '0px',
      imgs: '', // Img Url , string or Array
      visible: false,
      index: 0, // default
      msg: '',
      dilShow: false,
    }
  },
  methods: {
    ...mapActions('approvals', ['getDriver', 'approveDriver']),
    showSingle(img) {
      if (img) {
        this.imgs = img
        this.show()
      }
    },
    show() {
      this.visible = true
    },
    handleHide() {
      this.visible = false
    },
    submit(status) {
      this.msg = status == 1 ? 'Driver Approved' : 'Driver Rejected'
      this.approveDriver.then(() => {
      this.dilShow = true
      })
    },
    rootPage() {
      this.$router.push('/approvals')
    },
    disp(eventValue) {
      let { on, id, key, value, params, obj, data, schema, parent, index, event } = eventValue
      this.newData = data
      return eventValue
    },
  },
  computed: {
    ...mapState('approvals', ['userloaded', 'selected_driver']),
    ...mapGetters('approvals', ['driverDetail']),
    upDate(value) {
      return moment(String(this.driverDetail.modified)).format('MM/DD/YYYY hh:mm')
    },
    createDate(value) {
      return moment(String(this.driverDetail.creation)).format('MM/DD/YYYY hh:mm')
    },
  },
  mounted() {
    this.getDriver().then(() => {
      this.newData = this.driverDetail
    })
  },
}
</script>