<template>
  
<ion-content class="mainfont">
              <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
        </div>

<div style="margin-left: 57px;">
        <h1>COMPLETED ORDERS</h1>
        


<vue-good-table
        :rows="completedorders"
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :totalRows="total_records"
        :isLoading="isLoading"
        :pagination-options="{enabled: true,
                              dropdownAllowAll: false,
                              perPage:per_page,
                              setCurrentPage:current_page}"
        :columns="columns"
        :sort-options="{
          enabled: true,
          initialSortBy: sort,
        }"
        theme="black-rhino"
      >
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'id'">
            <button
              class="btn btn-outline-primary"
              @click.prevent="test(props.row.id)"
              style="margin-right:5px"
            >EDIT</button>
          </span>
          <span v-else>{{props.formattedRow[props.column.field]}}</span>
        </template>
      </vue-good-table>  
</div>










</ion-content>
  
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import 'beautify-scrollbar/dist/index.css';

import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
  export default {
  name: "Completedorders",
  props: {},
  components: {
    SidebarMenu,
  },
  data() {
    return {
      columns: [
        {
          label: 'Order Id',
          field: 'name',
          filterOptions: {
              enabled: true,
              trigger: 'enter',
          },
          sortable: false,
        },
        {
          label: 'Status',
          field: 'status',
          filterOptions: {
              enabled: true,
              // filterValue:  "",
              trigger: 'enter',
              filterDropdownItems: [  
                { value: 'Pending', text: 'Pending' },  
                { value: 'Accepted', text: 'Accepted' },  
                { value: 'Destination Reached', text: 'Pick UP Destination Reached' }  
              ],
          },
          sortable: false,
        },
        {
          label: 'Ordered On',
          field: 'creation',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'Ride Date',
          field: 'ride_date',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'Payment Method',
          field: 'payment_method',
          sortable: false,
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
              filterDropdownItems: [  
                { value: 'Cash', text: 'Cash' },  
                { value: 'Card', text: 'Card' },  
              ],
          }
        },
        {
          label: 'Ride Type',
          field: 'ride_type',
          sortable: false,
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
              filterDropdownItems: [  
                { value: 'immediate', text: 'Normal' },  
                { value: 'scheduled', text: 'Scheduled' },  
              ],
          }
        },
        {
          label: 'Cancelled By',
          field: 'cancelled_by',
          sortable: false,
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
              filterDropdownItems: [  
                { value: 'customer', text: 'Customer' },  
                { value: 'Provider', text: 'Provider' },  
              ],
          }
        },
        {
          label: 'Total Amound',
          field: 'total',
          type: 'number',
          sortable: false,
        },
        {
          label: 'Actions',
          field: 'id',
          sortable: false,
        },
      ],
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
                {
          href: '/paymentrequest',
          title: 'PaymentRequest',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],
      collapsed: true,
      width: '0px',
    }
  },

  methods: {
    ...mapActions('completedorders', ['get_completedorders']),
    ...mapMutations('completedorders', ['set_page', 'set_selection', 'set_perpage', 'set_filters', 'set_sort']),


    getValue(name){
      // this.getIntial('full_name').then((response) => { 
      //   console.log("weewewewewewewewewewewewewe");
      //   console.log(response);
      //   });
    },

    buildParams(){
      let data = {};
      console.log(this.current_page)
      let start = (this.current_page - 1) * this.per_page;
      data['start'] = start;
      data['page_length'] = this.per_page;
      data['filters'] = this.filters;
      data['order_by'] = this.sort.field ? this.sort.field.concat(' ',  this.sort.type) : '';
      console.log(data)
      return data
    },

    upDateList(){
      let data = this.buildParams();
      this.get_completedorders(data).then(() => {console.log('sucess');
      console.log(this.total_records)})
    },

    onPageChange(params) {
      console.log('onPageChange')
      console.log(params.currentPage);
      this.set_page(params.currentPage);
      this.upDateList();     
    },

    onPerPageChange(params) {
       console.log('onPerPageChange')
       console.log(params.currentPerPage);
       this.set_perpage(params.currentPerPage);
       this.upDateList();
    },

    onSortChange(params) {
      console.log('onSortChange')
      let sort = params['0']
      console.log(sort);
      this.set_sort(sort);
      this.upDateList();
    },
    
    onColumnFilter(params) {
      console.log('onColumnFilter')
      console.log(params.columnFilters);
      this.set_filters(params.columnFilters);
      this.upDateList();
    },
    test(name) {
      this.set_selection(name);
      this.$router.push("/invoicedetails");
    },
  },

  mounted() {
    this.upDateList();
    // this.getValue();
    
  },

  computed: {
    ...mapState('completedorders', ['completedorders','current_page', 'isLoading',
                         'total_records', 'per_page', 'filters', 'sort']),
  },
  }
</script>