<template>
  <ion-content class="mainfont">
    <div>
      <sidebar-menu :menu="menu" :collapsed="true" />
    </div>


<!-- <div> -->

<header class="navbar navbar-header navbar-header-fixed" style="margin-left: 51px;z-index: 996;!important height: 49px;">
      <!-- <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a> -->
      <div class="navbar-brand">
        <img src="../assets/img/iWinch_Logo (2).png" class="img-fluid" alt style="height: 24px;"/>
      </div><!-- navbar-brand -->

      <div class="navbar-right">
        <!-- <a id="navbarSearch" href="" class="search-link"><i data-feather="search"></i></a> -->




        <div class="dropdown dropdown-profile">
          <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
             <div class="avatar avatar-sm avatar-online"><img src="../assets/img/beckm.jpg" class="rounded-circle" alt=""></div>
          </a><!-- dropdown-link -->
          <div class="dropdown-menu dropdown-menu-right tx-13">
             <div class="avatar avatar-lg mg-b-15"><img src="../assets/img/beckm.jpg" class="rounded-circle" alt=""></div>
            
            <h6 class="tx-semibold mg-b-5">iWinch Admin</h6>
            <p class="mg-b-25 tx-12 tx-color-03">Administrator</p>

            <!-- <a href="" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a> -->
            <!-- <a href="page-profile-view.html" class="dropdown-item"><i data-feather="user"></i> View Profile</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a href="page-help-center.html" class="dropdown-item"><i data-feather="help-circle"></i> Help Center</a> -->
            <!-- <a href="" class="dropdown-item"><i data-feather="life-buoy"></i> Forum</a> -->
            <!-- <a href="" class="dropdown-item"><i data-feather="settings"></i>Account Settings</a> -->
            <!-- <a href="" class="dropdown-item"><i data-feather="settings"></i>Privacy Settings</a> -->
            <button @click="logoutAttempt()" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</button>
          </div>
        </div><!-- dropdown -->


      </div>
<!-- dropdown -->
     
    </header>

  

    <div>
      <div>
        <div>
        <div>
          <div style="margin-left: 33px; margin-top: 71px;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item">
                  <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>
              </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1" style="margin-left:24px;">Welcome to Dashboard</h4>
          </div>
          <!-- <div class="d-none d-md-block">
            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>
            <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="file" class="wd-10 mg-r-5"></i> Generate Report</button>
          </div>-->
        </div>

        <div class="row row-xs" style="margin-left: 52px;">
          <div class="col-sm-6 col-lg-3">
            <div class="card card-body">
              <h6
                class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8" style="    margin: 0px;"
              >Customers</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" style="    margin: 0px;">281</h3>
                <p class="tx-11 tx-color-03 mg-b-0">
                  <span class="tx-medium tx-success">
                    1.2%
                    <i class="icon ion-md-arrow-up"></i>
                  </span> than last week
                </p>
              </div>
  
              <!-- chart-three -->
            </div>
          </div>
          <!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
              <h6
                class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8" style="    margin: 0px;"
              >Drivers</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" style="    margin: 0px;">117</h3>
                <p class="tx-11 tx-color-03 mg-b-0">
                  <span class="tx-medium tx-danger">
                    0.7%
                    <i class="icon ion-md-arrow-down"></i>
                  </span> than last week
                </p>
              </div>
  
              <!-- chart-three -->
            </div>
          </div>
          <!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
              <h6
                class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8" style="    margin: 0px;"
              >Avg. Order Value</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" style="    margin: 0px;">AED 306.20</h3>
                <p class="tx-11 tx-color-03 mg-b-0">
                  <span class="tx-medium tx-danger">
                    0.3%
                    <i class="icon ion-md-arrow-down"></i>
                  </span> than last week
                </p>
              </div>

              <!-- chart-three -->
            </div>
          </div>
          <!-- col -->
          <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
              <h6
                class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8" style="    margin: 0px;"
              >Order Quantity</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" style="    margin: 0px;">96</h3>
                <p class="tx-11 tx-color-03 mg-b-0">
                  <span class="tx-medium tx-success">
                    2.1%
                    <i class="icon ion-md-arrow-up"></i>
                  </span> than last week
                </p>
              </div>

              <!-- chart-three -->
            </div>
          </div>

          <div class="col-lg-8 col-xl-7 mg-t-10" style="    margin: 0px;">
            <div class="card">
              <div class="card-header pd-y-20 d-md-flex align-items-center justify-content-between">
                <h6 class="mg-b-0">Account & Monthly Recurring Revenue Growth</h6>
                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                  <li class="list-inline-item d-flex align-items-center">
                    <span class="d-block wd-10 ht-10 bg-df-1 rounded mg-r-5"></span>
                    <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Growth Actual</span>
                  </li>
                  <li class="list-inline-item d-flex align-items-center mg-l-5">
                    <span class="d-block wd-10 ht-10 bg-df-2 rounded mg-r-5"></span>
                    <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Actual</span>
                  </li>
                  <li class="list-inline-item d-flex align-items-center mg-l-5">
                    <span class="d-block wd-10 ht-10 bg-df-3 rounded mg-r-5"></span>
                    <span class="tx-sans tx-uppercase tx-10 tx-medium tx-color-03">Plan</span>
                  </li>
                </ul>
              </div>
              <!-- card-header -->
              <div class="card-body pos-relative pd-0">
                <div class="pos-absolute t-20 l-20 wd-xl-100p z-index-10">
                  <div class="row">
                    <!-- col -->
                  </div>
                  <!-- row -->
                </div>

                <div id="chart">
                  <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
                </div>
                <!-- chart-one -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
          </div>

          <div class="col-lg-4 col-xl-5 mg-t-10" style="    margin: 0px;">
            <div class="card">
              <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                <h6 class="mg-b-5">Account Retention</h6>
                <p
                  class="tx-12 tx-color-03 mg-b-0"
                <!-- >Number of customers who have active subscription with you.</p> -->
              </div>
              <!-- card-header -->
              <div class="card-body pd-20">
                <div class="chart-two mg-b-20">
<apexchart type="bar" height="350" :options="chartOptions_bar" :series="series_bar"></apexchart>
      </div>
    
                </div>
                <!-- chart-two -->

                <!-- row -->
              </div>
              <!-- card-body -->
            </div>
            <!-- card -->
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</template>

<script>
import { contacts, map } from 'ionicons/icons'
import { addIcons } from 'ionicons'
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import  ApexCharts from 'apexcharts'
import VueApexCharts from 'vue-apexcharts'
// import Navbar from '@/utils/navbar/components/navbar.vue'
import { mapActions } from 'vuex' 
// import Navbar from '../utils/navbar/components/navbar.vue'

addIcons({
  'ios-contacts': contacts.ios,
  'md-contacts': contacts.md,
  'ios-map': map.ios,
  'md-map': map.md,
})

export default {
  name: 'Dashboard',
  props: {},
  components: {
    SidebarMenu,
    apexchart: VueApexCharts,
  },
  data() {
    return {
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        // {
        //     href: '/settings',
        //     title: 'Settings',
        //     icon: 'fas fa-cog'
        // },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
        {
          href: '/paymentrequest',
          title: 'PaymentRequest',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],
      collapsed: false,
      // width:'0px',

      showChild: {
        type: Boolean,
        default: true,
      },

               series: [{
            name: 'TEAM A',
            type: 'area',
            data: [44, 55, 31, 47, 31, 43, 26, 41, 31, 47, 33]
          }, {
            name: 'TEAM B',
            type: 'line',
            data: [55, 69, 45, 61, 43, 54, 37, 52, 44, 61, 43]
          }],
          chartOptions: {
            chart: {
              height: 350,
              type: 'line',
            },
            stroke: {
              curve: 'smooth'
            },
            fill: {
              type:'solid',
              opacity: [0.35, 1],
            },
            labels: ['Dec 01', 'Dec 02','Dec 03','Dec 04','Dec 05','Dec 06','Dec 07','Dec 08','Dec 09 ','Dec 10','Dec 11'],
            markers: {
              size: 0
            },
            yaxis: [
              {
                title: {
                  text: 'Series A',
                },
              },
              {
                opposite: true,
                title: {
                  text: 'Series B',
                },
              },
            ],
            tooltip: {
              shared: true,
              intersect: false,
              y: {
                formatter: function (y) {
                  if(typeof y !== "undefined") {
                    return  y.toFixed(0) + " points";
                  }
                  return y;
                }
              }
            }
          },


          series_bar: [{
            data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
          }],
          chartOptions_bar: {
            chart: {
              type: 'bar',
              height: 350
            },
            plotOptions: {
              bar: {
                horizontal: true,
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
                'United States', 'China', 'Germany'
              ],
            }
          }



    }
  },

  methods: {
    ...mapActions('auth', ['logout']),
        logoutAttempt () {
      this.logout().then(() => {
        this.$router.push({ path: '/login' })
      })
    },

    onToggleCollapse(collapsed) {
      console.log(collapsed)
      this.collapsed = collapsed
    },
    onItemClick(event, item) {
      console.log('onItemClick')
      // console.log(event)
      // console.log(item)
    },
    // ongoingorderspage () {
    //   this.$router.push("/orders/ongoingorders");
    // }
  },
}
</script>