<template>
  <!-- <div> -->
    <!-- <v-row
      wrap
      mb-5
    >
      <v-col xs="12">
        <v-tabs
          v-model="activeTab"
          slider-color="primary"
    >-->

    <ion-content class="mainfont">
      <div class="content" style=" position: unset; height: 100%;">
      
          <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
              <div class="mx-wd-600">
                <img src="../assets/img/logo.png" class="img-fluid" alt />
              </div>
              
            </div>
            <!-- media-body -->

            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-10">
              <div class="wd-100p" align="left">
<img src="../assets/img/iWinch_Logo (2).png" class="img-fluid" alt  style="    height: 37px;"/>
<div>
                <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>

                <login-form
                  :redirect="redirect"
                  :localeSelectable="localeSelectable"
                  :showLogo="showLogo"
                  :logo="logo"
                ></login-form>
                
                <div class="divider-text"></div>

                

              </div>
              </div>
            </div>
            <!-- sign-wrapper -->
          </div>

      </div>
    </ion-content>
  <!-- </div> -->
</template>

<script>
import LoginForm from '@/utils/auth/components/LoginForm.vue'

export default {
  data: () => ({
    activeTab: 'config',
    redirect: '/',
    localeSelectable: true,
    showLogo: false,
    logo: 'vue-crud-lg.png',
  }),
  computed: {
    template() {
      return `
          <template>
            <login-form
              redirect="${this.redirect}" ${
        this.localeSelectable
          ? ''
          : `
              :localeSelectable="false"`
      }
              logo="${this.logo}" ${
        this.showLogo
          ? ''
          : `
              :showLogo="false"`
      }
            ></login-form>
          </template>
        `
    },
    script() {
      return `
          import LoginForm from '@/utils/auth/components/LoginForm.vue'

          export default {
            components: {
              LoginForm
            }
          }
        `
    },
  },
  components: {
    LoginForm,
  },
}
</script>
