<template>
  
<ion-content class="mainfont">
              <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
        </div>

<div style="margin-left: 66px;">
        <h1> Orders </h1>



  <v2-table  :data="list4" border 
    :loading="loading" 
    :total="total"
    :shown-pagination="true"
    :pagination-info="paginationInfo"
    @page-change="handlePageChange">
    <v2-table-column label="Order ID" prop="name">
    </v2-table-column>
    <v2-table-column label="Date" prop="date" ></v2-table-column>
    <v2-table-column label="Address" prop="address" width="150"></v2-table-column>
    <v2-table-column label="Customer" prop="birthDay"></v2-table-column>
    <!-- <v2-table-column label="Customer" prop="songs"></v2-table-column> -->
    <v2-table-column label="Driver" prop="province"></v2-table-column>
    <v2-table-column label="City" prop="city"></v2-table-column>
    <v2-table-column label="Country" prop="country"></v2-table-column>
    <!-- <v2-table-column label="Age" prop="age"></v2-table-column> -->
    <!-- <v2-table-column label="Salary" prop="salary"></v2-table-column> -->
    <v2-table-column label="Actions" prop="desc">
      <template slot-scope="prop">
          <button class="btn btn-outline-primary" @click.prevent="test(prop.row.name)" style="margin-right:5px">
            EDIT
          </button>
          <button class="btn btn-outline-danger" @click.prevent="test(prop.row.name)">
            DELETE
          </button>
        </template>
    </v2-table-column>
  </v2-table>  
</div>










</ion-content>
  
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import 'beautify-scrollbar/dist/index.css';
import 'v2-table/dist/index.css';
import Vue from 'vue'
import V2Table from 'v2-table';

Vue.use(V2Table);
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
  export default {
  name: "Drivers",
  props: {},
  components: {
    SidebarMenu,
  },
    data () {
      return {
        currentPage: 1,
        total: 198,
        loading: false,
        paginationInfo: {
          text: '<span>Total of <strong>198</strong>, <strong>10</strong> per page</span>'
        },
        list4: [{
          date: '2017-12-02',
          name: '101',
          address: 'Shenzhen,China',
          birthDay: 'Alex',
          songs: 1008655451,
          province: 'Johnson',
          city: 'Shenzhen',
          country: 'China',
          age: 30,
          salary: 12000,
          desc: '<button type="button" class="btn btn-primary" @click="test()">Button</button>'
        }, {
          date: '2017-11-02',
          name: '102',
          address: 'Guangzhou,China',
          birthDay: 'Harry',
          songs: 9758642438,
          province: 'Maguire',
          city: 'Guangzhou',
          country: 'China',
          age: 40,
          salary: 10000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '103',
          address: 'Shaoyang,Hunan',
          birthDay: 'Robert',
          songs: 80784512369,
          province: 'Kane',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        },{
          date: '2018-01-02',
          name: '104',
          address: 'Shaoyang,Hunan',
          birthDay: 'Andrew',
          songs: 80978465169,
          province: 'Arnold',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '105',
          address: 'Shaoyang,Hunan',
          birthDay: 'Jo',
          songs: 80789435697,
          province: 'Gomez',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '106',
          address: 'Shaoyang,Hunan',
          birthDay: 'Aleksander',
          songs: 7893693280,
          province: 'Mitrovic',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '107',
          address: 'Shaoyang,Hunan',
          birthDay: 'Christian',
          songs: 80759731649,
          province: 'Bale',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '108',
          address: 'Shaoyang,Hunan',
          birthDay: 'Joaquin',
          songs: 8123469780,
          province: 'Correa',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '109',
          address: 'Shaoyang,Hunan',
          birthDay: 'Diego',
          songs: 8042367986,
          province: 'Alves',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }, {
          date: '2018-01-02',
          name: '110',
          address: 'Shaoyang,Hunan',
          birthDay: 'Keylor',
          songs: 807942365,
          province: 'Navas',
          city: 'Shaoyang',
          country: 'China',
          age: 20,
          salary: 30000,
          desc: 'no desc'
        }],
        menu: [
        {
            href: '/Dashboard',
            title: 'Dashboard',
            icon: 'fas fa-columns'
        },
        {
            href: '/users',
            title: 'Users',
            icon: 'fa fa-user'
        },
        {
            href: '/drivers',
            title: 'Drivers',
            icon: 'fas fa-car'
        },
        {
            title: 'Orders',
            icon: 'far fa-clipboard'
        },
        {
            href: '/approvals',
            title: 'Approvals',
            icon: 'fas fa-thumbs-up'
        },
        // {
        //     href: '/settings',
        //     title: 'Settings',
        //     icon: 'fas fa-cog'
        // },
        {
            href: '/promocode',
            title: 'Promocode',
            icon: 'fas fa-money-check-alt'
        },
        {
            href: '/settings',
            title: 'Settings',
            icon: 'fas fa-cog'
        },
    ],
        collapsed:true,
    width:'0px',
    
      }
    },

    methods: {
      handlePageChange(page) {
        this.currentPage = page;
        this.loading = true;
        let start = (page - 1) * 10 + 1;

        const list = this.list4.map(item => {
          return Object.assign({}, item, {
            name: `test${start++}`
          });
        });

        setTimeout(() => {
          this.loading = false;
          this.list4 = [].concat(list);
        }, 2000);  
      },
      userdetailspage() {
        console.log('555555555555555555555555555555555555555555555555555555555555')
        
    },
    test(prop) {
      console.log("1111111111111111111111111111111111111111111111111")
      console.log(prop)
      this.$router.push("/orderdetails");
    }
    }
  }
</script>