<template>
  <ion-content class="mainfont">
    <div>
      <sidebar-menu :menu="menu" :collapsed="true" />
    </div>

    <template v-if="!userloaded">
      <div class="load_wait">
        <v-progress-circular
          :size="100"
          :width="5"
          class="login-form__loader"
          color="primary"
          indeterminate
        />
      </div>
    </template>

    <template v-else>
      <v-dialog v-model="dilShow" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>{{msg}}</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="rootPage()">ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <div class="content content-fixed content-profile"> -->
        
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        
  
            <div class="card col-sm-12 col-md-12 col-lg-12">
              <div
                class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between"
              >
                <h6 class="tx-uppercase tx-semibold mg-b-0">Order Details</h6>
                <nav class="nav nav-icon-only">
                  <v-btn color="success" @click="submit(1)">CHANGE STATUS</v-btn>
                  <!-- <v-btn color="red lighten-2" @click="submit(0)">REJECT</v-btn> -->
                  <!-- <a  class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></a> -->
                </nav>
              </div>
<div id="app">
  <v-app id="inspire">
    <v-card color="basil">
      <v-card-title class="text-center justify-center py-6">
        <!-- <h1 class="font-weight-bold display-3 basil--text">BASiL</h1> -->
      </v-card-title>
  
      <v-tabs
        v-model="tab"
        background-color="transparent"
        color="basil"
        grow
      >
        <v-tab
          v-for="item in items"
          :key="item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
          
          item = 'Order Details'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>                
              <div class="card-body pd-20 pd-lg-25">
                <div class="media align-items-center mg-b-20">
                  <div class="media-body pd-l-15"></div>
                  <span
                    class="d-none d-sm-block tx-12 tx-color-03 align-self-start"
                  >Created on {{createDate}}</span>
                </div>
                <!-- media -->
                <v-container fluid>
                  <v-form v-model="isValid">
                    <v-form-base :value="newData" :schema="mySchema" :flex="6" @change="disp" />
                  </v-form>
                </v-container>
              </div></v-card-text>
          </v-card>
        </v-tab-item>

                <v-tab-item
          
          item = 'Dummy1'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Second tab</v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item
          
          item = 'Dummy2'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Thrid tab</v-card-text>
          </v-card>
        </v-tab-item>
                <v-tab-item
          
          item = 'Dummy3'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Fourth tab</v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-app>
</div>
              <!-- card-header -->

            </div>
            <!-- col -->

        <!-- media -->
      </div>
    </template>
    <!-- container -->
    <!-- </div>content -->
  </ion-content>
</template>

<script>
import moment from 'moment'
import { SidebarMenu } from 'vue-sidebar-menu'
import VueEasyLightbox from 'vue-easy-lightbox'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
// import VFormBase from 'vuetify-form-base'
import mySchema from '@/forms/order'
import VFormBase from '@/utils/app/components/vFormBase'

const required = (msg) => (v) => !!v || msg
const validEmail = (msg) => (v) => /.+@.+\..+/.test(v) || msg
export default {
  name: 'Orderdetails',
  props: {},
  components: {
    SidebarMenu,
    VueEasyLightbox,
    VFormBase,
  },
  data() {
    return {
 tab: null,
      items: [
        'Order Details', 'Dummy1', 'Dummy2', 'Dummy3',
      ],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],

      mySchema,
      isValid: false,
      newData: {},
      collapsed: true,
      width: '0px',
      msg: '',
      dilShow: false,
    }
  },
  methods: {
    ...mapActions('ongoingorders', ['getOder', 'changeStatus']),
    showSingle(img) {
      if (img) {
        this.imgs = img
        this.show()
      }
    },
    show() {
      this.visible = true
    },
    handleHide() {
      this.visible = false
    },
    submit(status) {
      // this.msg = status == 1 ? 'Driver Approved' : 'Driver Rejected'
      this.changeStatus(this.newData).then(() => {
        console.log('sucess')
      })
      // this.dilShow = true
    },
    rootPage() {
      this.$router.push('/approvals')
    },
    disp(eventValue) {
      let { on, id, key, value, params, obj, data, schema, parent, index, event } = eventValue
      this.newData = data
      return eventValue
    },
  },
  computed: {
    ...mapState('ongoingorders', ['userloaded',]),
    ...mapGetters('ongoingorders', ['orderDetail']),
    upDate(value) {
      return moment(String(this.orderDetail.modified)).format('MM/DD/YYYY hh:mm')
    },
    createDate(value) {
      return moment(String(this.orderDetail.creation)).format('MM/DD/YYYY hh:mm')
    },
  },
  mounted() {
    this.getOder().then(() => {
      this.newData = this.orderDetail
    })
  },
}
</script>