<template>
  <ion-content class="mainfont">
    <div>
      <sidebar-menu :menu="menu" :collapsed="true" />
    </div>
    <h1 style="margin-left:57px;">Payment Request</h1>
    <template v-if="!userloaded">
      <div class="load_wait">
        <v-progress-circular
          :size="100"
          :width="5"
          class="login-form__loader"
          color="primary"
          indeterminate
        />
      </div>
    </template>

    <template v-else>
      <v-dialog v-model="dilShow" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>{{msg}}</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="rootPage()">ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <div class="content content-fixed content-profile"> -->
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        
  
            <div class="card col-sm-12 col-md-12 col-lg-12">
              <div
                class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between"
              >
                <h6 class="tx-uppercase tx-semibold mg-b-0">Order Details</h6>
                <nav class="nav nav-icon-only">
                  <v-btn color="success" @click="submit(1)">CHANGE STATUS</v-btn>
                  <!-- <v-btn color="red lighten-2" @click="submit(0)">REJECT</v-btn> -->
                  <!-- <a  class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></a> -->
                </nav>
              </div>
              <!-- card-header -->
              <div class="card-body pd-20 pd-lg-25">
                <div class="media align-items-center mg-b-20">
                  <div class="media-body pd-l-15"></div>
                  <span
                    class="d-none d-sm-block tx-12 tx-color-03 align-self-start"
                  >Created on {{createDate}}</span>
                </div>
                <!-- media -->
                <v-container fluid>
                  <v-form v-model="isValid">
                    <v-form-base :value="newData" :schema="mySchema" :flex="6" @change="disp" />
                  </v-form>
                </v-container>
              </div>
            </div>
            <!-- col -->

        <!-- media -->
      </div>
    </template>
    <!-- container -->
    <!-- </div>content -->
  </ion-content>
</template>

<script>

import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import 'beautify-scrollbar/dist/index.css';
// import Navbar from '../utils/navbar/components/navbar.vue'
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
  export default {
  name: "Paymentrequest",
  props: {},
  components: {
    SidebarMenu,
  },
  data() {
    return {
        menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
                {
          href: '/paymentrequest',
          title: 'PaymentRequest',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],
      collapsed: true,
      width: '0px',
    }
  }
  }
  </script>