<template>
  
<ion-content class="mainfont">
              <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
        </div>

<div style="margin-left: 57px;">
        <h1> Promocodes </h1>
                    <button
              class="btn btn-outline-primary"
            
              style="margin-right:5px; margin-bottom:5px; background-color: gray;
color: floralwhite;"
            @click="addpromocode()">+ ADD</button>
              <button
              class="btn btn-outline-primary"
            
              style="margin-right:5px; margin-bottom:5px; background-color: gray;
color: floralwhite;"
            @click="viewpromocode()">VIEW</button>
   <vue-good-table
        :rows="promocodes"
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :totalRows="total_records"
        :isLoading="isLoading"
        :pagination-options="{enabled: true,
                              dropdownAllowAll: false,
                              perPage:per_page,
                              setCurrentPage:current_page}"
        :columns="columns"
        :sort-options="{
          enabled: true,
          initialSortBy: sort,
        }"
        theme="black-rhino"
      >
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'name'">
            <button
              class="btn btn-outline-primary"
              @click.prevent="test(props.row.name)"
              style="margin-right:5px"
            >EDIT</button>
          </span>
          <span v-else>{{props.formattedRow[props.column.field]}}</span>
        </template>
      </vue-good-table>  
</div>

</ion-content>
  
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import 'beautify-scrollbar/dist/index.css';
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'

addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
  export default {
  name: "Promocode",
  props: {},
  components: {
    SidebarMenu
  },
  data() {
    return {
      columns: [
        {
          label: 'Title',
          field: 'title',
          filterOptions: {
              enabled: true,
              trigger: 'enter',
          },
          sortable: false,
        },
        {
          label: 'Coupon Code',
          field: 'coupon_code',
          filterOptions: {
              enabled: true,
              // filterValue:  "",
              trigger: 'enter',
          },
          sortable: false,
        },
       {
          label: 'Start Date',
          field: 'start_date',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'End Date',
          field: 'end_date',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'Discount Percentage',
          field: 'disc_per',
          type: 'decimal',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'Created On',
          field: 'creation',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
              enabled: true,
              // filterValue: "",
              trigger: 'enter',
          }
        },
        {
          label: 'Actions',
          field: 'name',
          sortable: false,
        },
      ],
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
                {
          href: '/paymentrequest',
          title: 'PaymentRequest',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],
      collapsed: true,
      width: '0px',
    }
  },

  methods: {
    ...mapActions('promocodes', ['get_promocodes',]),
    ...mapMutations('promocodes', ['set_page', 'set_selection', 'set_perpage', 'set_filters', 'set_sort']),


    getValue(name){
      // this.getIntial('full_name').then((response) => { 
      //   console.log("weewewewewewewewewewewewewe");
      //   console.log(response);
      //   });
    },

    buildParams(){
      let data = {};
      let start = (this.current_page - 1) * this.per_page;
      data['start'] = start;
      data['page_length'] = this.per_page;
      data['filters'] = this.filters;
      data['order_by'] = this.sort.field ? this.sort.field.concat(' ',  this.sort.type) : '';
      return data
    },

    upDateList(){
      let data = this.buildParams();
      this.get_promocodes(data).then(() => {console.log('sucess');})
    },

    onPageChange(params) {
      console.log('onPageChange')
      console.log(params.currentPage);
      this.set_page(params.currentPage);
      this.upDateList();     
    },

    onPerPageChange(params) {
       console.log('onPerPageChange')
       console.log(params.currentPerPage);
       this.set_perpage(params.currentPerPage);
       this.upDateList();
    },

    onSortChange(params) {
      console.log('onSortChange')
      let sort = params['0']
      console.log(sort);
      this.set_sort(sort);
      this.upDateList();
    },
    
    onColumnFilter(params) {
      console.log('onColumnFilter')
      console.log(params.columnFilters);
      this.set_filters(params.columnFilters);
      this.upDateList();
    },
    test(name) {
      this.set_selection(name);
      this.$router.push("/promocodedetails");
    },
     addpromocode() {
      this.$router.push("/addpromocode");

    },
      viewpromocode() {
      this.$router.push("/viewpromocode");

    },
  },

  mounted() {
    this.upDateList();
    // this.getValue();
    
  },

  computed: {
    ...mapState('promocodes', ['promocodes','current_page', 'isLoading',
                         'total_records', 'per_page', 'filters', 'sort']),
  },
  }
</script>