<template>
  
<ion-content class="mainfont">
              <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
        </div>

<div style="margin-left: 66px;">
        <h1> Settings page </h1>
</div>



<div class="navigation" style="margin-left: 44PX;">
        <div class="navigation-filter">
          <input type="text" v-model="treeFilter" placeholder="Type to filter...">
        </div>
        <div class="navigation-tree">
      <v-progress-circular
        v-if="loginWait"
        :size="100"
        :width="5"
        class="login-form__loader"
        color="primary"
        indeterminate
      />


              <template v-else>
          <tree :data="treeData" :options="treeOptions" :filter="treeFilter" v-model="selectedNode">
            <div class="tree-scope" slot-scope="{ node }">
              <template v-if="node.data.isRoot">

 
                <!-- you can add an icon here, but it is too long for the demo... sorry  -->

                <span class="text">
                  {{ node.text }}
                </span>

                <span class="release" v-if="!node.hasChildren()">
                  {{ node.data.release }}
                </span>
              </template>
              <template v-else>

                <!-- here we can leave a vue-router for example... -->

                <span class="text">
                    {{ node.text }}
                  </span>

                  <span class="release">
                    {{ node.data.release }}
                  </span>
              </template>
              </div>
                   </tree>
              </template>
            </div>
         
        </div>
      
      <div class="content">
        <div v-if="!selectedNode || selectedNode.hasChildren()">Welcome!</div>
        <ul v-else>
          <li>Name: <b>{{ selectedNode.data.name }}</b></li>
          <li>Type: <b>{{ selectedNode.data.type }}</b></li>
          <li>Slug: <b>{{ selectedNode.data.slug }}</b></li>
          <li>Release: <b>{{ selectedNode.data.release }}</b></li>
        </ul>
      </div>










</ion-content>
  
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import LiquorTree from 'liquor-tree'
import Vue from 'vue'
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});


var treeData = [{
  "name": "UAE",
  "slug": "UAE",
  "type": "UAE",
  "links": {
      "home": "https://angular.io/",
      "code": "https://github.com/angular/angular"
  },
  "version": "",
  "release": "5.2.9",
  "mtime": 1521396825,
  "db_size": 9378792
}, {
  "name": "DUBAI",
  "slug": "DUBAI",
  "type": "UAE",
  "links": {
      "home": "https://angular.io/",
      "code": "https://github.com/angular/angular"
  },
  "version": "4",
  "release": "4.4.6",
  "mtime": 1510333140,
  "db_size": 8247972
}, {
  "name": "KARAMA",
  "slug": "angular",
  "type": "UAE",
  "links": {
      "home": "https://angular.io/",
      "code": "https://github.com/angular/angular"
  },
  "version": "2",
  "release": "2.4.10",
  "mtime": 1501435056,
  "db_size": 7928892
},  ]

export default {
  name: "Settings",
  props: {},
  components: {
    SidebarMenu,
    Settings: LiquorTree
  },

  data() {
    return {
      menu: [
        {
            href: '/Dashboard',
            title: 'Dashboard',
            icon: 'fas fa-columns'
        },
        {
            href: '/users',
            title: 'Users',
            icon: 'fa fa-user'
        },
        {
            href: '/drivers',
            title: 'Drivers',
            icon: 'fas fa-car'
        },
        {
            title: 'Orders',
            icon: 'far fa-clipboard',
            child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt'
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt'
            },
            ]
        },
        {
            href: '/approvals',
            title: 'Approvals',
            icon: 'fas fa-thumbs-up'
        },

        {
            href: '/promocode',
            title: 'Promocode',
            icon: 'fas fa-money-check-alt'
        },
        {
            href: '/settings',
            title: 'Settings',
            icon: 'fas fa-cog'
        },
    ],
    collapsed:true,
    width:'0px',

    selectedNode: null,
            treeFilter: '',
            treeOptions: {
              multiple: false,
              filter: {
                plainList: true
              }
            },

            // do not judge me :)
            treeData: new Promise(resolve => {
              	const items = {}

                treeData.forEach(item => {
                  const { name } = item;

                  if (false === (name in items)) {
                    items[name] = []
                  }

                  let treeItem = {
                    text: item.version ? `${item.name} ${item.version}` : item.name,
                    data: item
                  }

                  items[name].push(treeItem)
                })

                let o = Object.keys(items).reduce((a, b) => {
                  let children = items[b]
                  let item

                  if (children.length > 1) {
                    item = {
                      text: children[0].data.name,
                      data: Object.assign({}, children[0].data),
                      children
                    }
                  } else {
                    item = children[0]
                    item.data
                  }

                  if (!item.data) {
                    item.data = {
                      type: children[0].data.type,
                      isRoot: true
                    }
                  } else {
                    item.data.isRoot = true
                  }

                  a.push(item)

                  return a
                }, [])

                resolve(o)
              })


    
    };


  },
  methods: {

  }
};
</script>