<template>
  <ion-content class="mainfont">
    <div>
      <sidebar-menu :menu="menu" :collapsed="true" />
    </div>
    <template v-if="!isuserloaded">
      <div class="load_wait">
        <v-progress-circular
          :size="100"
          :width="5"
          class="login-form__loader"
          color="primary"
          indeterminate
        />
      </div>
    </template>

    <template v-else>
      <!-- <div class="content content-fixed content-profile"> -->
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <VueEasyLightbox :visible="visible" :imgs="imgs" :index="index" @hide="handleHide"></VueEasyLightbox>

        <div class="media d-block d-lg-flex">
          <!-- <div class="profile-sidebar pd-lg-r-25"> -->
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-4 bd-r">
              <div class="avatar avatar-xxl">
                <img :src="userDetail.image" @click="showSingle(userDetail.image)" />
              </div>

              <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                <h5 class="mg-b-2 tx-spacing--1">{{userDetail.full_name}}</h5>
                <h5 class="mg-b-2 tx-spacing--1">Joined on {{createDate}}</h5>
                <p class="tx-color-03 mg-b-2">{{userDetail.mobile_no}}</p>
                <p class="tx-color-03 mg-b-2">#id {{userDetail.name}}</p>
                <div class="d-flex">
                  <div class="profile-skillset flex-fill">
                    <h4>
                      <a class="link-01">{{userDetail.rating}}</a>
                    </h4>
                    <label>Rating</label>
                  </div>
                  <div class="profile-skillset flex-fill">
                    <h4>
                      <a class="link-01">{{nFormatter(userDetail.total_order)}}</a>
                    </h4>
                    <label>Orders</label>
                  </div>
                  <div class="profile-skillset flex-fill">
                    <h4>
                      <a class="link-01">{{nFormatter(userDetail.total_rating)}}</a>
                    </h4>
                    <label>Stars</label>
                  </div>
                </div>
              </div>
              <!-- col -->
            </div>
            <div class="card col-sm-7 col-md-7 col-lg-8">
              <div
                class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between"
              >
                <h6 class="tx-uppercase tx-semibold mg-b-0">User Details</h6>
                <nav class="nav nav-icon-only">
                  <v-btn @click="submit" :disabled="!isValid">UPDATE</v-btn>
                  <!-- <a href="" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></a> -->
                </nav>
              </div>
              <!-- card-header -->
              <div class="card-body pd-20 pd-lg-25">
                <div class="media align-items-center mg-b-20">
                  <div class="media-body pd-l-15"></div>
                  <span
                    class="d-none d-sm-block tx-12 tx-color-03 align-self-start"
                  >Updated on {{upDate}}</span>
                </div>
                <!-- media -->
                <v-container fluid>
                  <v-form v-model="isValid">
                    <v-form-base :value="userDetail" :schema="mySchema" :flex="6" @change="disp" />
                  </v-form>
                </v-container>
              </div>
            </div>
            <!-- col -->
          </div>

          <!-- row -->
          <!-- </div> -->
          <!-- profile-sidebar -->
          <!-- profile-sidebar -->
        </div>



  <v-app id="inspire">
    <!-- <v-card color="basil"> -->
      <v-card-title class="text-center justify-center py-6">
        <!-- <h1 class="font-weight-bold display-3 basil--text">BASiL</h1> -->
      </v-card-title>
  
      <v-tabs
        v-model="tab"
        background-color="transparent"
        color="basil"
        grow
      >
        <v-tab
          v-for="item in items"
          :key="item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
          
          item = 'Orders'
        >
          <v-card
            color="basil"
            flat
          >
            <!-- <v-card-text>                 -->
        <fieldset class="form-fieldset col-sm-12 col-md-12 col-lg-12">
          <legend style="margin-top:10px">Orders</legend>
          <vue-good-table
            :rows="completedOrders"
            mode="remote"
            @on-page-change="onPageChange"
            @on-column-filter="onColumnFilter"
            :totalRows="total_order"
            :isLoading="isLoading"
            :pagination-options="{enabled: true,
                              dropdownAllowAll: false,
                              perPage:10,
                              perPageDropdown: [10],
                              setCurrentPage:currentPage}"
            :columns="columns"
          ></vue-good-table>
        </fieldset>
        <!-- </v-card-text> -->
          </v-card>
        </v-tab-item>

                <v-tab-item
          
          item = 'Reviews'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Second tab</v-card-text>
          </v-card>
        </v-tab-item>
        <!-- <v-tab-item
          
          item = 'Dummy2'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Third tab</v-card-text>
          </v-card>
        </v-tab-item> -->
                <!-- <v-tab-item
          
          item = 'Dummy3'
        >
          <v-card
            color="basil"
            flat
          >
            <v-card-text>Fourth tab</v-card-text>
          </v-card>
        </v-tab-item> -->
      </v-tabs-items>
    <!-- </v-card> -->
  </v-app>



        
        <!-- <fieldset class="form-fieldset col-sm-12 col-md-12 col-lg-12">
          <legend>Orders</legend>
          <vue-good-table
            :rows="completedOrders"
            mode="remote"
            @on-page-change="onPageChange"
            @on-column-filter="onColumnFilter"
            :totalRows="total_order"
            :isLoading="isLoading"
            :pagination-options="{enabled: true,
                              dropdownAllowAll: false,
                              perPage:10,
                              perPageDropdown: [10],
                              setCurrentPage:currentPage}"
            :columns="columns"
          ></vue-good-table>
        </fieldset> -->
        <!-- <div id="app"> -->

<!-- </div> -->

        <!-- media -->
      </div>
    </template>
    <!-- container -->
    <!-- </div>content -->
  </ion-content>
</template>

<script>
import moment from 'moment'
import { SidebarMenu } from 'vue-sidebar-menu'
import VueEasyLightbox from 'vue-easy-lightbox'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
// import VFormBase from 'vuetify-form-base'
import mySchema from '@/forms/user'
import VFormBase from '@/utils/app/components/vFormBase'

const required = (msg) => (v) => !!v || msg
const validEmail = (msg) => (v) => /.+@.+\..+/.test(v) || msg
export default {
  name: 'Userdetails',
  props: {},
  components: {
    SidebarMenu,
    VueEasyLightbox,
    VFormBase,
  },
  data() {
    return {
            tab: null,
      items: [
        'Orders', 'Reviews',
      ],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fas fa-columns',
        },
        {
          href: '/users',
          title: 'Users',
          icon: 'fa fa-user',
        },
        {
          href: '/drivers',
          title: 'Drivers',
          icon: 'fas fa-car',
        },
        {
          title: 'Orders',
          icon: 'far fa-clipboard',
          child: [
            {
              href: '/ongoingorders',
              title: 'OngoingOrders',
              icon: 'fa fa-file-alt',
            },
            {
              href: '/completedorders',
              title: 'CompletedOrders',
              icon: 'fa fa-file-alt',
            },
          ],
        },
        {
          href: '/approvals',
          title: 'Approvals',
          icon: 'fas fa-thumbs-up',
        },
        {
          href: '/promocode',
          title: 'Promocode',
          icon: 'fas fa-money-check-alt',
        },
        // {
        //   href: '/settings',
        //   title: 'Settings',
        //   icon: 'fas fa-cog',
        // },
      ],
      columns: [
        {
          label: 'Order Id',
          field: 'name',
          filterOptions: {
            enabled: true,
            trigger: 'enter',
          },
          sortable: false,
        },
        {
          label: 'Status',
          field: 'status',
          filterOptions: {
            enabled: true,
            // filterValue:  "",
            // trigger: 'enter',
            filterDropdownItems: [
              { value: 'Cancelled', text: 'Cancelled' },
              { value: 'Closed', text: 'Completed' },
            ],
          },
          sortable: false,
        },
        {
          label: 'Ordered On',
          field: 'creation',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
            enabled: true,
            // filterValue: "",
            // trigger: 'enter',
          },
          sortable: false,
        },
        {
          label: 'Ride Date',
          field: 'ride_date',
          type: 'date',
          dateInputFormat: 'dd-MM-yyyy HH:mm',
          dateOutputFormat: 'dd-MM-yyyy HH:mm',
          filterOptions: {
            enabled: true,
            // filterValue: "",
            // trigger: 'enter',
          },
          sortable: false,
        },
        {
          label: 'Payment Method',
          field: 'payment_method',
          sortable: false,
          filterOptions: {
            enabled: true,
            // filterValue: "",
            trigger: 'enter',
            filterDropdownItems: [
              { value: 'Cash', text: 'Cash' },
              { value: 'Card', text: 'Card' },
            ],
          },
        },
        {
          label: 'Ride Type',
          field: 'ride_type',
          sortable: false,
          filterOptions: {
            enabled: true,
            // filterValue: "",
            trigger: 'enter',
            filterDropdownItems: [
              { value: 'immediate', text: 'Normal' },
              { value: 'scheduled', text: 'Scheduled' },
            ],
          },
        },
        {
          label: 'Total Amound',
          field: 'total',
          type: 'number',
          sortable: false,
        },
      ],
      mySchema,
      isValid: false,
      newData: {},
      collapsed: true,
      width: '0px',
      imgs: '', // Img Url , string or Array
      visible: false,
      index: 0, // default
      currentPage: 1,
      columnFilters: {},
    }
  },
  methods: {
    ...mapActions('users', ['getUser', 'get_orders', 'updateUser']),
    showSingle(img) {
      if (img){
        this.imgs = img
        this.show()
      }
    },
    show() {
      this.visible = true
    },
    handleHide() {
      this.visible = false
    },
    submit() {
      this.updateUser(this.newData).then(() => {
        console.log('sucess')
      })
    },
    disp(eventValue) {
      let { on, id, key, value, params, obj, data, schema, parent, index, event } = eventValue
      this.newData = data
      return eventValue
    },
    buildParams() {
      let data = {}
      console.log(this.currentPage)
      let start = (this.currentPage - 1) * 10
      data['start'] = start
      data['page_length'] = 10
      // this.columnFilters.customer = self.getUsr
      data['filters'] = this.columnFilters
      console.log('paramssssssssssssssssssss')
      console.log(self.selected_user)
      console.log(data)
      return data
    },
    upDateList() {
      let data = this.buildParams()
      this.get_orders(data).then(() => {
        console.log('sucess')
        console.log(this.total_records)
      })
    },
    onPageChange(params) {
      console.log('onPageChange')
      console.log(params.currentPage)
      this.currentPage = params.currentPage
      this.upDateList()
    },
    onColumnFilter(params) {
      console.log('onColumnFilter')
      console.log(params.columnFilters)
      this.columnFilters = params.columnFilters
      this.upDateList()
    },
    nFormatter(num) {
      var digits = 3
      var si = [
        { value: 1, symbol: '' },
        { value: 1e3, symbol: 'k' },
        { value: 1e6, symbol: 'M' },
        { value: 1e9, symbol: 'G' },
        { value: 1e12, symbol: 'T' },
        { value: 1e15, symbol: 'P' },
        { value: 1e18, symbol: 'E' },
      ]
      var rx = /\.0+$|(\.[0-9]*[1-9])0+$/
      var i
      for (i = si.length - 1; i > 0; i--) {
        if (num >= si[i].value) {
          break
        }
      }
      return (num / si[i].value).toFixed(digits).replace(rx, '$1') + si[i].symbol
    },
  },
  computed: {
    ...mapState('users', ['total_order', 'completedOrders', 'selected_user', 'isLoading']),
    ...mapGetters('users', ['userDetail', 'getUsr', 'isuserloaded']),
    upDate(value) {
      return moment(String(this.userDetail.modified)).format('MM/DD/YYYY hh:mm')
    },
    createDate(value) {
      return moment(String(this.userDetail.creation)).format('MM/DD/YYYY hh:mm')
    },
  },
  mounted() {
    this.getUser().then(() => {
      this.newData = this.userDetail
    })
    this.upDateList()
  },
  watch: {
    search(val) {
      console.log(val)
    },
  },
}
</script>